*~
*~*
*.bak
*.cache
*.o
*.lo
*.la
lib*.a
lib*.so
*.dll
*.tar.gz
*.txz
*.tar.bz2
*.zip
config.cfg
config.h
config.log
config.status
CLEANUP_NEEDED
build/
patch/
releases/
old/
work/
.deps
.libs
test*.fits

# LaTeX auxiliary files:
*.aux
*.log
*.out
