*~
*~*
*.bak
*.cache
*.o
*.lo
*.la
lib*.a
lib*.so
*.dll
*.tar.gz
*.txz
*.tar.bz2
*.zip
config.h
config.log
config.status
configure
CLEANUP_NEEDED
build
devel/
mira-pgarcia/
patch/
RCS/
releases/
old/
work
.deps
.libs
test*.fits

# LaTeX auxiliary files:
*.aux
*.log
*.out
