[submodule "lib/ipy"]
	path = lib/ipy
	url = https://github.com/emmt/IPY.git
[submodule "lib/ylib"]
	path = lib/ylib
	url = https://github.com/emmt/ylib.git
[submodule "lib/oifits"]
	path = lib/yoifits
	url = https://github.com/emmt/YOIFITS.git
